#header {
  position: relative;
  background: linear-gradient(219.83deg, $gradient-color-1 0%, $gradient-color-2 100%);

  .navbar {
    height: $navbar-height;
    padding: 0;
  }
  .navbar-nav {
    .nav-item {
      margin-left: 40px;

      a {
        padding: 0 5px;
        font-size: 12px;
        font-weight: 400;
        line-height: 62px;
        letter-spacing: 0.1rem;
        color: $color-white;
        opacity: 0.9;
      }
    }
  }
  .navbar-text {
    padding: 0;

    a {
      padding: 0 5px;
      font-size: 12px;
      font-weight: 400;
      line-height: 62px;
      letter-spacing: 0.1rem;
      color: $color-white;
      opacity: 0.9;
    }
  }
  .nav-link {
    border-top: 3px solid transparent;

    &:hover {
      border-color: $color-lighterblue;
      color: $color-lighterblue !important;
      transition: ease-in-out 0.3s all;
    }
  }
}
