mixin landing-section(title, description, changed = false)
  div.landing-section&attributes(attributes)
    div.row
      - var classes = 'col-md-12 col-lg-5'
      if changed
        - var first = classes + ' order-lg-3'
        - var second = classes + ' order-lg-1'
      else
        - var first = classes + ' order-lg-1'
        - var second = classes + ' order-lg-3'

      div(class=first)
        div.landing-section--text
          h2.landing-section--text--title !{title}
          p.landing-section--text--description !{description}
      div.hidden.visible-lg.col-lg-2.order-lg-2
      div(class=second)
        div.landing-section--image
          block
