div.row
  div.col-sm-6.col-lg-6
    include logo

  div.col-sm-6.d-lg-none
    ul.navbar-nav
      li.nav-item
        a.nav-link.text-uppercase(href="#") How it works
      li.nav-item
        a.nav-link.text-uppercase(href="#") Contact

  div.col-sm-12.col-lg-6
    div.copyright
      p
        | ©2018 - Sitediff | Proudly made by 
        a(href="http://www.evolvingweb.ca") Evolving Web 
        | in Canada
