div.row
  div.col-4.col-lg-6
    include logo

  div.col-8.d-lg-none
    ul.navbar-nav
      li.nav-item
        a.nav-link.text-uppercase(href="#") How it works
      li.nav-item
        a.nav-link.text-uppercase(href="#") Contact

  div.col-xs-12.col-lg-6
    div.copyright
      p
        | ©2018 - 
        span(aria-label="site diff") Sitediff
        |  | Proudly made by 
        a(href="http://www.evolvingweb.ca" target="_blank") Evolving Web
        |  in Canada
