include ../mixin/landing-testimonial-item.pug

h2 What users say about SiteDiff
div.row
  div.col-sm-12.col-lg-4
    - var data = {testimonial: 'Testing websites after security or theme updates was always a very tedious manual procedure. With SiteDiff it\'s super fast!', image: './images/Wendy.png', name: 'Wendy Zhou', position: 'Webmaster'}
    +landing-testimonial-item(data)

  div.col-sm-12.col-lg-4
    - var data = {testimonial: 'I need to make sure that nothing breaks on out client\'s website after a security update. SiteDiff saves me so much time, because I don\'t have to do manual spot testing anymore.', image: './images/Meagan.png', name: 'Meagan Calvillo', position: 'QA Manager'}
    +landing-testimonial-item(data)

  div.col-sm-12.col-lg-4
    - var data = {testimonial: 'Since we use SiteDiff for our projects, we save a lot of time during our QA process which eventually benefits our clients, too.', image: './images/Arron.png', name: 'Arron Hunt', position: 'Agency Partner'}
    +landing-testimonial-item(data)
