div.jumbotron
  h2.display-4 
    | Speed up your QA process with automated testing
  p.lead 
    | Sitediff is the ideal tool to verify security updates and other upgrades.
    | With its advanced site crawler and an easy to use web interface, compare
    | before and after versions of your website in no time for unwanted 
    | discrepancies.
  a.btn.btn-primary.btn-lg(href="#" role="button") Try sitediff now
  a.btn.btn-secondary.btn-lg(href="#" role="button") Learn how it works
