div.landing-cta
  div.jumbotron
    h2.display-4 
      | Start free
    p.lead 
      | Give us feedback, report bugs, etc. We want to hear from you.
    a.btn.btn-primary.btn-lg(href="#" role="button") Try sitediff now
    a.btn.btn-secondary.btn-lg(href="#" role="button") Contact us
