div.landing-cta
  div.jumbotron
    h2.jumbotron--title Start free
    p.jumbotron--text Give us feedback, report bugs, etc. We want to hear from you.
    div.jumbotron--buttons
      a.btn.btn-primary.btn-lg.btn-sitediff-blue(href="#" role="button") Try sitediff now
      a.btn.btn-secondary.btn-lg.btn-sitediff-white(href="#" role="button") Contact us
