div.jumbotron
  h2.jumbotron-title
    | Speed up your QA process with automated testing
  p.jumbotron-text 
    | Sitediff is the ideal tool to verify security updates and other upgrades.
    | With its advanced site crawler and an easy to use web interface, compare
    | before and after versions of your website in no time for unwanted 
    | discrepancies.
  div.jumbotron-buttons
    a.btn.btn-primary.btn-lg.btn-sitediff-white(href="#" role="button") Try sitediff now
    a.btn.btn-secondary.btn-lg.btn-sitediff-transparent(href="#" role="button") Learn how it works
