include ../../mixin/landing-features-item.pug

h2 Fast and automated results
div.row
  div.col-sm-12.col-md-6.col-lg-4
    - var data = {icon: './images/rapid-automated-testing.svg', title: 'Rapid Automated Testing', description: 'Streamlined automated comparison instead of tenacious manual tedting.'}
    +landing-features-item(data)

  div.col-sm-12.col-md-6.col-lg-4
    - var data = {icon: './images/SafeUpgrades.svg', title: 'Safe Upgrades', description: 'Identify changes after security updates and code releases that may otherwise go unnoticed.'}
    +landing-features-item(data)

  div.col-sm-12.col-md-6.col-lg-4
    - var data = {icon: './images/simpleeasytouse.svg', title: 'Simple and Easy to Use', description: 'Just enter URLs to compare different versions of your website in our web interface.'}
    +landing-features-item(data)

  div.col-sm-12.col-md-6.col-lg-4
    - var data = {icon: './images/Customizations.svg', title: 'Customizations', description: 'Parameterize crawling, compare private environments, access password protected sites, etc.'}
    +landing-features-item(data)

  div.col-sm-12.col-md-6.col-lg-4
    - var data = {icon: './images/RuleBasedTesting.svg', title: 'Rule-based Refinement', description: 'Choose from a set of suggested rules to narrow down the relevant differences or add your own.'}
    +landing-features-item(data)

  div.col-sm-12.col-md-6.col-lg-4
    - var data = {icon: './images/Collaborative.svg', title: 'Collaborative', description: 'A simple report server allows tester to bookmark issues and pass them directly to developers.'}
    +landing-features-item(data)
